.textbox-wrap
{
    --base-width: 98;
    --scaler: calc(var(--base-width) / 1333);
    
    height: calc(var(--scaler) * 488.5vw);
}

.textbox
{
    font-family: "OMORIGAME";
    image-rendering: pixelated;
    color: white;
    position: relative;
    margin-top: calc(var(--scaler) * 260vw);
    background: black;
    outline: calc(var(--scaler) * 2.14vw) solid black;
    border: calc(var(--scaler) * 7vw) solid white;
    width: calc(var(--scaler) * 1316vw);
    height: calc(var(--scaler) * 228.5vw);
    font-size: calc(var(--scaler) * 61.38vw);
    line-height: calc(var(--scaler) * 63vw);
    user-select: none;
}

.textbox[font-index="1"]
{
    font-family: "OMORIGAME2";
}

.textbox[data-enabled="false"]
{
    height: 0;
    top: calc(var(--scaler) * 114.25vw);
    outline: 0 solid black;
    border-top: 0 solid white;
    border-bottom: 0 solid white;
}

.textbox .dialogue-line
{
    margin-top: calc(var(--scaler) * 17vw);
    margin-left: calc(var(--scaler) * 30.0733vw);
    width: calc(var(--scaler) * 1243.3115vw);
    height: calc(var(--scaler) * 193.404vw);
}

.textbox img
{
    pointer-events: none;
}

.textbox .dialogue-portrait
{
    right: 0;
    position: absolute;
    background: black;
    outline: calc(var(--scaler) * 2.14vw) solid black;
    border: calc(var(--scaler) * 7vw) solid white;
    top: calc(var(--scaler) * -264vw);
    right: calc(var(--scaler) * -6.376vw);
    width: calc(var(--scaler) * 232vw);
    height: calc(var(--scaler) * 232vw);
}

.textbox .img-box
{
    top: calc(var(--scaler) * -258vw);
    right: 0;
    position: absolute;
    outline: calc(var(--scaler) * 4vw) solid white;
    border: calc(var(--scaler) * 2.14vw) solid black;
    width: calc(var(--scaler) * 228.5vw);
    height: calc(var(--scaler) * 228.5vw);
}

.textbox .dialogue-portrait[data-enabled="false"],
.textbox .img-box[data-enabled="false"]
{
    margin-top: calc(var(--scaler) * -107.25vw);
    transform: scaleY(0);
}

.textbox .name
{
    position: absolute;
    top: calc(var(--scaler) * -111.5vw);
    left: calc(var(--scaler) * -6.376vw);
    border: calc(var(--scaler) * 7vw) solid white;
    outline: calc(var(--scaler) * 2.14vw) solid black;
    background: black;
    padding-top: calc(var(--scaler) * 3.8vw);
    padding-left: calc(var(--scaler) * 17vw);
    padding-right: calc(var(--scaler) * 19vw);
    height: calc(var(--scaler) * 76vw);
    font-family: "OMORIGAME";
}

.textbox .name[data-enabled="false"]
{
    margin-top: calc(var(--scaler) * -107.25vw);
    transform: translateX(-125%);
    opacity: 0;
}

.textbox .cursor
{
    width: calc(var(--scaler) * 64vw);
    bottom: calc(var(--scaler) * 12.7519vw);
    right: calc(var(--scaler) * 44vw);
    position: absolute;
}

@font-face
{
    font-family: "OMORIGAME";
    src: url("fonts/OMORI_GAME2.ttf");
}

@font-face
{
    font-family: "OMORIGAME2";
    src: url("fonts/OMORI_GAME.ttf");
}

@keyframes cursor
{
    from { right: calc(var(--scaler) * 44vw); }

    to { right: calc(var(--scaler) * 55vw); }
}

@keyframes box
{
    from
    {
        height: 0;
        top: calc(var(--scaler) * 114.25vw);
        outline: calc(var(--scaler) * 2.14vw) solid black;
        border-top: 0 solid white;
        border-bottom: 0 solid white;
    }
    
    to
    {
        height: calc(var(--scaler) * 228.5vw);
        border-top: calc(var(--scaler) * 7vw) solid white;
        border-bottom: calc(var(--scaler) * 7vw) solid white;
        top: 0;
    }
}

@keyframes subBox
{
    from
    {
        margin-top: calc(var(--scaler) * -107.25vw);
        transform: scaleY(0);
    }

    to
    {
        margin-top: 0;
        transform: none;
    }
}

@keyframes nameDivEnter
{
    0%
    {
        opacity: 0;
        margin-top: calc(var(--scaler) * -107.25vw);
        transform: translateX(-125%) scaleY(0);
    }

    12.5% { opacity: 1; }

    50%
    {
        transform: none;
    }

    100%
    {
        margin-top: 0;
    }
}

@keyframes nameDivExit
{
    0%
    {
        opacity: 1;
        margin-top: 0;
        transform: none;
    }

    37.5% { opacity: 0; }

    50%
    {
        transform: translateX(-125%);
    }

    100%
    {
        margin-top: calc(var(--scaler) * -107.25vw);
    }
}