html, body
{
    height : 100%;
}

body
{
    margin : 0;
    background : black;
    color : white;
    font-family : "lightweight";
    font-size : 4.44vw;
    line-height : 6.11vw;
    display : flex;
    user-select: none;
    overflow: clip;
}

.dialogue-box
{
    background : black;
    width : 91.67vw;
    height : 18.06vw;
    padding : 2.78vw;
    border : 0.83vw solid white;
    margin : auto;
    visibility : hidden;
}

.dialogue-box[data-enabled="true"]
{
    visibility : visible;
}

.dialogue-portrait
{
    height : 100%;
    pointer-events: none;
    image-rendering : pixelated;
}

.dialogue-line
{
    width: 100%;
}

.dialogue-box[data-portrait-enabled="true"] .dialogue-line
{
    width : 80%;
}

@font-face
{
    font-family : "lightweight";
    src : url("/fonts/lightweight.ttf");
}

@keyframes box
{
    from { transform : scaleY(0); }
    to { transform : none; }
}

@keyframes fun-box
{
    0% { transform : translate(-50%, 70%) rotate(360deg) scale(0, 0); }
    85% { transform : translate(0, 0) rotate(0) scale(1.1, 1.1); }
    100% { transform : none; }
}