.textbox
{
    --base-width: 98;
    --scaler: calc(var(--base-width) / 1333);

    font-family: "DEP";
    image-rendering: pixelated;
    position: relative;
    background: black;
    color: #e0f8cf;
    width: calc(var(--scaler) * 1288vw);
    min-height: calc(var(--scaler) * 261vw);
    border: calc(var(--scaler) * 7vw) solid #e0f8cf;
    border-bottom: calc(var(--scaler) * 6vw) solid #e0f8cf;
    letter-spacing: calc(var(--scaler) * 10vw);
    padding-left: calc(var(--scaler) * 31vw);
    font-size: calc(var(--scaler) * 42vw);
    line-height: calc(var(--scaler) * 42vw);
    user-select: none;
}

.textbox[data-enabled="false"]
{
    transform: scaleY(0);
}

.textbox .dialogue-line
{
    margin-top: calc(var(--scaler) * 40vw);
    padding-bottom: calc(var(--scaler) * 40vw);
    width: calc(var(--scaler) * 1014vw);
    display: inline-block;
    word-wrap: break-word;
}

.textbox[data-portrait-enabled="false"] .dialogue-line
{
    width: calc(var(--scaler) * 1253vw);
}

.textbox img
{
    pointer-events: none;
}

.textbox .dialogue-portrait
{
    float: left;
    margin-top: calc(var(--scaler) * 31vw);
    margin-bottom: calc(var(--scaler) * 30vw);
    margin-right: calc(var(--scaler) * 39vw);
    width: calc(var(--scaler) * 200vw);
}

.textbox .arrow
{
    width: calc(var(--scaler) * 20vw);
    position: absolute;
    bottom: calc(var(--scaler) * -2vw);
    left: 50%;
    transform: translateX(-50%);
    animation: alternate arrow 0.75s steps(2, jump-none) infinite;
}

@font-face
{
    font-family: "DEP";
    src: url("fonts/DEP/main.ttf");
}

@keyframes box
{
    from { transform: scaleY(0); }
    
    to { transform: none; }
}

@keyframes arrow
{
    0% { bottom: calc(var(--scaler) * 2vw); }

    50% { bottom: 0; }

    100% { bottom: calc(var(--scaler) * -2vw); }
}